<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Edit Skills</h1>
  <form action="/skills/<%= skill._id %>?_method=PUT" method="POST" autocomplete="off">
    <input value="<%= skill.text %>" type="text" name="text">
    <input type="checkbox" <%= skill.ability ? 'checked'  : ''%>  name="ability">Did you learn it? <br><br>
    <button type="submit">Update Skills</button>
  </form><br>
  <a href="/skills/<%=skill._id %>">Cancel</a>
</body>
</html>
